<!DOCTYPE html>
<html lang="pt-BR" ng-app="login-app">
<head>
	
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" rel="stylesheet"/>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
<script src="//unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src="js/app.js"></script>
<script src="js/controller/login-controller.js"></script>
<script src="js/service/login-service.js"></script>

</head>
<body>
    <form id="loginForm" ng-controller="LoginController" method="post" ng-submit="doLogin()">
         <div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Login</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <input id="txtUsuario" runat="server" type="text" class="form-control" name="user" placeholder="Usuario" required="" ng-model="user.email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                            </span>
                            <input id="txtSenha" runat="server" type="password" class="form-control" name="password" placeholder="Senha" required="" ng-model="user.password"/>
                        </div>
                    </div>
                    <button type="submit" id="btnLogin" class="btn btn-default" style="width: 100%">
                        ENTRAR<i class="glyphicon glyphicon-log-in"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>